.author-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
}
@media screen 
and (max-device-width: 900px) {
    .author-photo {
        margin: 0 auto;
        height: 100%;
        width: 91%;
        transition: 0.7s;
    }
    .author-line {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 11px;
        margin: 13px;
        width: 91%;
        transition: 0.7s;
    }
}
@media screen 
and (min-device-width: 911px) {
    .author-photo {
        margin: 0 auto;
        height: 100%;
        width: 71%;
        transition: 0.7s;
    }
    .author-line {
        margin: 3%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 17px;
        width: 100%;
        transition: 0.7s;
    }
}