
@media screen 
and (max-device-width: 900px) {
  .main-frame {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }  
  .left-column, .right-column {
    margin: 13px;
  }  
  /* image area begin */
  .thumbnail {
    width: 100%;
    cursor: pointer;
  }  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }  
  .enlarged-image-container {
    position: relative;
    justify-content: center;
    align-items: center;
  }  
  .enlarged-image {
    max-width: 71%;
    max-height: 71%;
    transition: 0.7s;
  }  
  .enlarged-image-container:after {
    content: '✖';
    position: absolute;
    top: -31px;
    right: 19%;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  /* image area end */
  /* video area begin */
  .video-centering {
    display: block;
    margin: 0 auto;
    width: 171px;
    height: 291px;  
  }
  /* video area end */
}

@media screen 
and (min-device-width: 911px) {
  .main-frame {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    min-height: auto;
    padding: 31px; 
    width: 71%;
  }
  /* background area begin */
  .background-upper {
    border-top-left-radius: 7px;
    background-image: url('https://conrading.github.io/wroclaw-project/accessFile/Designer-1.jpg');  
    background-position: center;  
    background-size: cover;    
    background-repeat: no-repeat; 
    transition: 0.7s;
  }
  .background-bottom {
    border-bottom-right-radius: 7px;
    background-image: url('https://conrading.github.io/wroclaw-project/accessFile/Designer-2.jpg');
    background-position: center;  
    background-size: cover;    
    background-repeat: no-repeat; 
    transition: 0.7s;
  }
  /* background area end */
  .left-column, .right-column {
    margin: 0 auto;
    flex: 1;
    width: 50%;
  }  
  /* image area begin */
  .thumbnail {
    width: 100%;
    cursor: pointer;
  }  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }  
  .enlarged-image-container {
    position: relative;
  }  
  .enlarged-image {
    max-width: 59%;
    max-height: 59%;
    transition: 0.7s;
  }  
  .enlarged-image-container:after {
    content: '✖';
    position: absolute;
    top: -31px;
    right: 37%;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  /* image area end */
  /* video area begin */
  .video-centering {
    display: block;
    margin: 0 auto;
    width: 196px;
    height: 348.5px;
    border-radius: 7px;
    transition: 0.7s;
  }
  /* video area end */
}


@media screen 
and (max-device-width: 900px) {
  .opis {
    margin: 3%;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 11px;
    animation-duration: 1s;
    animation-name: remarking;
  }
  @keyframes remarking {
      0% {
        color: rgb(245, 236, 236);
      }
      51% {
        transition: .3s;
        color: gold;
      }
      100% {
        transition: 0.3s;
        color: black
      }
  }
}
@media screen 
and (min-device-width: 911px) {
  .opis {
    margin: 3%;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    animation-duration: 1s;
    animation-name: remarking;
  }
  @keyframes remarking {
      0% {
        color: rgb(245, 236, 236);
      }
      31% {
        transition: .3s;
        color: gold;
      }
      71% {
        transition: .3s;
        color: rgb(117, 5, 5);
        font-family: cursive;
      }
      100% {
        transition: 0.3s;
        color: blue;
      }
  }
}