

.makeRow {
  display: flex;
}
.centeringText {
  text-align: center;
}
.center-object {
  margin: 0 auto;
}
.text-pointer {
  cursor: pointer;
}
.text-pointer:hover {
  color: rgba(77, 17, 17);
}



@media screen 
and (max-device-width: 900px) {
  .main-container {
    margin: 0 auto;
    transition: 1s;
  }
  /* back button only show in each component */  
  .contentSwitcher {
    padding: 5px 5px;
    margin: 29px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    width: 23px;
    cursor: pointer;
  }
  /* main page button area*/  
  .project-area {
    border: 1px solid #a19f9f;
    border-radius: 4px;
    margin: 11%;
    padding: 7%;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .project-eachcard {
    transition: 0.3s;
    margin: 11%;
    padding: 5%;
    cursor: pointer;
  }
  .project-title {
    text-align: center;
    font-size: 11px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
}
@media screen 
and (min-device-width: 911px) {
  .main-container {
    width: 71%;
    margin: 0 auto;
    transition: 1s;
  }
  /* back button only show in each component */  
  .contentSwitcher {
    padding: 5px 10px;
    margin: 29px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    width: 51px;
    cursor: pointer;
  }
  .contentSwitcher:hover {
    border: 1px solid #504444;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  /* main page button area*/    
  .project-area {
    margin: 0 auto;
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    min-height: 71vh; 
    width: 71%;
  }
  .project-eachcard {
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 71%;
    margin: 0 auto;
    padding: 1%;
    cursor: pointer;
  }
  .project-eachcard:hover {
    min-height: 31vh;
    color:transparent;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    animation: expanding 1.7s
  }
  .project-eachcard-philosophy:hover {
    background-image: url("https://conrading.github.io/wroclaw-project/accessFile/01.jpg"); 
    background-size: cover; /* Ensures the image covers the whole element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
  }
  .project-eachcard-readStory:hover {
    background-image: url('https://conrading.github.io/wroclaw-project/accessFile/02.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }
  .project-eachcard-aboutAuthor:hover {
    background-image: url('https://conrading.github.io/wroclaw-project/accessFile/03.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }
  @keyframes expanding {
    from {
      min-height: 0vh;
    }
    to {
      min-height: 31vh;
      color:transparent;
    }
  }
  .project-title {
    text-align: center;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 91%;
    padding: 1%;
    cursor: pointer;
  }
}
/* posters area end */




@media screen 
and (max-device-width: 900px) {
  .bottom-note {
    cursor: pointer;
    font-size: 11px;
    text-align: center;
    margin: 0 auto;
    padding: 3%;
  }
}
@media screen 
and (min-device-width: 911px) {
  .bottom-note {
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    padding: 3%;
    width: 71%;
  }
}



