.author-page {
  font-family: sans-serif;
  background: #ffd374;
  color: #222;
  line-height: 1.5;
}

.header {
  padding: 1em;
  background: #ffd374;
  border-bottom: 1px solid #ddd;
}

/*Header Begin*/
.nav {
  display: flex;
  justify-content: center;
  gap: 1.5em; /* space between links */
}

.nav a {
  text-decoration: none;
  color: #333;
  padding: 0.5em 1em;
  border-radius: 6px;
  transition: all 0.25s ease; /* smooth hover animation */
  font-weight: 600;
}

.nav a:hover {
  color: #fff;                 /* text turns white */
  background-color: #ff7b00;   /* orange button background */
  transform: translateY(-3px); /* “floating” effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* button shadow */
}
/*Header End*/

/*Main Start*/
.hero {
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  flex: 1 1 300px;
  max-width: 400px;
  padding-left: 19rem;
}

.hero-image {
  flex: 1 1 200px;
  text-align: center;
}

.hero-image img {
  max-width: 37%;
  height: auto;
  border: 1px solid #eee;
}

.hero-image img:hover {
  background-color: #ff7b00;   /* orange button background */
  transform: translateY(-3px); /* “floating” effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* button shadow */
}

.buttons {
  margin-top: 1.5em;
}

.btn,
.btn-outline {
  display: inline-block;
  padding: 0.75em 1.5em;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.btn {
  background-color: #0077cc;
  color: #fff;
  border: none;
}

.btn-outline {
  border: 2px solid #0077cc;
  color: #0077cc;
  background: transparent;
  margin-left: 1em;
}
/*Main End*/

.about-container {
  background:  #ffbc7d; 
  margin: 0 auto;
}
.about {
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
  width: 63%;
  align-items: center;
  justify-content: space-between;
}

.footer {
  padding: 1em;
  background: #fafafa;
  border-top: 1px solid #ddd;
  text-align: center;
  margin-top: 2em;
}

.footer .retailers a {
  color: #0077cc;
  text-decoration: none;
}
